.container{
    width: 55vw;
    height: 100vh;
    background: var(--greyWhite);
    color: #333;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.container::-webkit-scrollbar { 
    display: none;
  }

.light{
    background: var(--greyWhite);
    color: #333;
}
.dark{
    width: 55vw;
    height: 100vh;
    background: linear-gradient(to bottom, #333,var(--black) , var(--black), var(--black));
    color: aliceblue;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.dark::-webkit-scrollbar{
    display: none;
}

.loaderDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.loaderDiv img{
    object-fit: contain;
    width: 200px;
    height: 200px;
}
.rewardDiv{
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.rewardDiv button{
    padding: 0.5rem 1rem;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 600;
}

@media screen and (max-width: 900px){
    .container{
       width: 100%;
    }
    .dark{
        width: 100%;
        overflow-x: hidden;
    }
}